main {
  display: flex !important;
}

main {
  position: relative;
  min-height: 150vh;
}

main:before {
  content: "";
  padding-top: calc(2 * 2rem);
}

main:after {
  content: "";
  padding-bottom: calc(2 * 2rem);
}
