footer {
  position: relative;
}
footer:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  background: -webkit-linear-gradient(
    to right,
    #fa7f25 0%,
    #fdbe13 100%
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fa7f25 0%, #fdbe13 100%);
  top: -10px;
  left: 0;
}

footer ul {
  justify-content: space-evenly;
}

small {
  display: block;
  text-align: center;
  padding-top: 2rem;
}
